body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  h1 {
    color: #333;
  }
  
  .search-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .autocomplete-container {
    position: relative;
    display: inline-block;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    align-items: center;
  }
  
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }
  
  .autocomplete-items div img {
    max-width: 30px;
    margin-right: 10px;
  }
  
  #pokemon-details {
    margin-top: 2rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #pokemon-input{
    text-align: center;
  }